extends layout

block content
	div.container
		nav.navbar.navbar-default.navbar-fixed-top
			div.container
				div.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/home') PadelPlay
				div.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href='/home') Home
						li
							a(href='/matchs') Create Match

						form.navbar-form.navbar-left(action='/search', method='get')
							div.form-group
								input.form-control(type='text', placeholder='City', name='city')
							button.btn.btn-default(type='submit') Search
					ul.nav.navbar-nav.navbar-right

						a.btn.btn-default.navbar-btn.btn-danger(href='/logout') Logout
		div.col-sm-6.col-sm-offset-3

			h1.fa.fa-sign-in  Add local account

			-if(message.length>0)
				div.alert.alert-danger 
					message= message

			form(action='/connect/local', method='post')
				div.form-group
					label Email
					input.form-control(type='text', name='email', required)
				div.form-group
					label Password
					input.form-control(type='password', name='password', required)

				button.btn.btn-warning.btn-lg(type='submit') Add Local
				| 
				a.btn.btn-danger.btn-lg(href='/profile') Cancel

